@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100%;
  font-family: 'Comfortaa', cursive; }

.container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px; }

header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  background-color: #fff; }

.logo {
  margin-right: 20px; }
  .logo__texto {
    text-indent: -99999px;
    position: absolute; }
  .logo__imagem {
    display: block;
    width: 100%;
    min-width: 150px; }

.menu {
  display: flex;
  justify-content: space-between;
  width: 450px;
  list-style: none; }
  @media screen and (max-width: 768px) {
    .menu {
      display: none; } }
  .menu a {
    text-transform: uppercase;
    font-size: .9rem;
    text-decoration: none;
    color: #000; }
    .menu a::after {
      content: "";
      display: block;
      width: 0;
      height: 3px;
      margin-top: 5px;
      background: linear-gradient(90deg, rgba(57, 200, 172, 0.418848) 0%, rgba(48, 157, 213, 0.397906) 100%);
      transition: width .15s; }
    .menu a:hover::after {
      width: 100%; }

a.menu__item--active::after {
  width: 100%; }

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-999px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.menu-icon {
  cursor: pointer;
  z-index: 9999999999;
  position: fixed;
  top: 35px;
  right: 35px; }
  .menu-icon .span-line {
    display: none;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    background-color: #000000;
    transition: all .5s; }
    .menu-icon .span-line--active {
      background-color: #ffffff; }
      .menu-icon .span-line--active:nth-child(1) {
        transform: rotate(45deg) translateX(7px); }
      .menu-icon .span-line--active:nth-child(2) {
        display: none; }
      .menu-icon .span-line--active:nth-child(3) {
        transform: rotate(-45deg) translateX(5px); }
    @media screen and (max-width: 768px) {
      .menu-icon .span-line {
        display: block; } }

.menu-mobile {
  position: absolute;
  background-color: #000000c9;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 99;
  display: none;
  list-style: none; }
  .menu-mobile--active {
    animation: fadein 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh; }
  .menu-mobile .menu__item > a {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: bold; }

#hero {
  height: 450px;
  margin-top: 98px; }
  #hero .slide-section {
    background-color: #f3f3f3;
    height: 100%;
    background-image: url("../img/bg-hero-01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative; }
    #hero .slide-section::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      background-color: #000000;
      opacity: 0.5; }
    #hero .slide-section .slide-item {
      position: absolute;
      padding: 0 20px;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      transition: opacity 1s;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      user-select: none;
      opacity: 0;
      height: 0;
      color: #ffffff; }
      #hero .slide-section .slide-item__title {
        font-size: 2.5rem;
        margin-bottom: 20px; }
      #hero .slide-section .slide-item__text {
        font-size: 1.2rem; }
    #hero .slide-section .slide-item--active {
      height: 100%;
      opacity: 1; }

.servicos {
  padding-top: 98px; }
  .servicos h3 {
    text-align: center;
    font-size: 2rem; }

.cards {
  margin: 20px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .cards__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 300px;
    padding: 20px;
    margin: 20px auto; }
    .cards__item img {
      height: 100px; }
    .cards__item h4 {
      margin: 10px 0; }
    .cards__item p {
      font-size: .9rem;
      text-align: justify; }

.tecnologias {
  background-color: #b3b3b361;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 20px; }
  @media screen and (max-width: 427px) {
    .tecnologias {
      flex-direction: column; } }
  .tecnologias p {
    font-size: 1.1rem;
    margin: 0 20px; }
  .tecnologias__icons {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 20px; }
    .tecnologias__icons img {
      height: 35px;
      margin: 5px; }

#portifolio {
  height: 450px;
  margin-top: 98px; }

#sobre {
  height: 450px;
  margin-top: 98px; }

#contato {
  height: 450px;
  margin-top: 98px; }

footer {
  background-color: #425762ff;
  padding-top: 10px;
  color: #ececec; }

.social-media {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; }
  @media screen and (max-width: 427px) {
    .social-media {
      flex-direction: column; } }
  .social-media::after {
    height: 3px;
    width: 100%;
    content: '';
    display: block;
    border: none;
    background-color: #cecece;
    order: 4; }
  .social-media img {
    margin: 10px auto; }
    @media screen and (max-width: 427px) {
      .social-media img {
        order: 1; } }
  .social-media--left {
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 120px; }
    @media screen and (max-width: 427px) {
      .social-media--left {
        order: 2;
        margin: 0 auto; } }
    .social-media--left li a img {
      height: 30px;
      width: 30px; }
  .social-media--right {
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 120px; }
    @media screen and (max-width: 427px) {
      .social-media--right {
        order: 3;
        margin: 0 auto; } }
    .social-media--right li a img {
      height: 30px;
      width: 30px; }

.divisor {
  height: 3px;
  width: 100%;
  content: '';
  display: block;
  border: none;
  background-color: #cecece; }

.contatos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 55px 0 0 0; }
  .contatos::after {
    height: 3px;
    width: 100%;
    margin-top: 10px;
    content: '';
    display: block;
    border: none;
    background-color: #cecece; }
  .contatos__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    text-align: center;
    margin: 0 auto 55px auto; }
    .contatos__item img {
      height: 20px; }
    .contatos__item span {
      display: block;
      font-size: .8rem;
      text-transform: uppercase;
      font-weight: bold; }
    .contatos__item a {
      font-size: .9rem;
      color: #ececec; }

.direitos {
  margin: 0 auto;
  padding: 25px 5px;
  text-align: center; }
